

<% if flash[:notice] %>
  <div class="alert alert-success" id="notice"> <%= flash[:notice] %> </div>
<% end %>

<div class="row">
  <div class="col-2"></div>
  <div class="col-10">
    <%= form_tag("/recipes/#{@recipe['id']}", method: :put ) do %>
          <p><small>Name: </small></p>
          <p><%= text_field_tag('name', @recipe['name']) %></p>

          <p><small>Description: </small></p>
          <p><%= text_field_tag('description', @recipe['description']) %></p>

          <p><small>Public: </small></p>
          <p><%= select_tag "public", options_for_select([ ["Yes", ["true"]], ["No","false"] ], @recipe['public']) %></p>
          <div class="row">
            <ul id="ingredients_list">
              <li class="col-12">
                <div class="row">
                  <div class="col-6">Name</div>
                  <div class="col-6">Measurement</div>
                </div>
              </li>
              <% @recipe['ingredients'].each do |ingredient| %>
                <li>
                    <%= hidden_field_tag('[ingredients_attributes][][id]', ingredient['id']) %>
                    <%= text_field_tag('[ingredients_attributes][][name]', ingredient['name']) %> 
                    <%= text_field_tag('[ingredients_attributes][][measurement]', ingredient['measurement']) %>
                </li>
              <% end %>
            </ul>
          </div>
          <%= submit_tag "Add ingredient", type: "button", id: "addIngredient", onclick: 'addField("ingredients", "name", "measurement")', class: 'btn btn-primary btn-sm btn-krusty-taste' %>

          <div class="row">
            <ul id="preparation_steps_list">
              <li class="col-12">
                <div class="row">
                  <div class="col-6">Step</div>
                  <div class="col-6">Description</div>
                </div>
              </li>
              <% @recipe['preparation_steps'].each do |step| %>
                <li>
                    <%= hidden_field_tag('[preparation_steps_attributes][][id]', step['id']) %> 
                    <%= text_field_tag('[preparation_steps_attributes][][step]', step['step']) %> 
                    <%= text_field_tag('[preparation_steps_attributes][][description]', step['description']) %>
                </li>
              <% end %>
            </ul>
          </div>
          <p>
            <%= submit_tag "Add Preparation Step", type: "button", id: "addPreparationStep", onclick: 'addField("preparation_steps", "step", "description")', class: 'btn btn-primary btn-sm btn-krusty-taste' %>
          </p>
          <p><%= submit_tag 'Edit', class: 'btn btn-primary btn-krusty-taste' %><p>
      </div>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>