

<% if flash[:notice] %>
  <div class="alert alert-success" id="notice"> <%= flash[:notice] %> </div>
<% end %>

<div class="row">
  <div class="col-2"></div>
  <div class="col-10">
    <%= form_tag('/recipes', multipart: true ) do %>
      <p><small>Name: </small></p>
      <p><%= text_field_tag('name') %></p>

      <p><small>Description: </p></small>
      <p><%= text_area_tag('description') %> </p>

      <p><small>Public: </small></p>
      <p><%= select_tag "public", options_for_select([ ["Yes", ["true"]], ["No","false"] ], "false") %></p>
      <div class="row row-padding">
        <ul id="ingredients_list" class="krusty-taste-list">
          <li class="col-12">
            <div class="row">
              <div class="col-6">Name</div>
              <div class="col-6">Measurement</div>
            </div>
          </li>
          <li>
            <%= text_field_tag('[ingredients_attributes][][name]') %><%= text_field_tag('[ingredients_attributes][][measurement]') %>
          </li>
        </ul>
      </div>
      <p>
        <%= submit_tag "Add ingredient", type: "button", id: "addIngredient", onclick: 'addField("ingredients",   "name", "measurement")', class: 'btn btn-primary btn-sm btn-krusty-taste' %>
      </p>
      
      <div class="row row-padding">
        <ul id="preparation_steps_list" class="krusty-taste-list">
          <li class="col-12">
            <div class="row">
              <div class="col-6">Step</div>
              <div class="col-6">Description</div>
            </div>
          </li>
          <li>
            <%= text_field_tag('[preparation_steps_attributes][][step]') %><%= text_field_tag('[preparation_steps_attributes][][description]') %>
          </li>
        </ul>
      </div>
      <p>
        <%= submit_tag "Add Preparation Step", type: "button", id: "addPreparationStep", onclick: 'addField("preparation_steps", "step", "description")', class: 'btn btn-primary btn-sm btn-krusty-taste' %>
      </p>
      <p><small>Image: </small></p>
      <p><%= file_field_tag 'image', accept: 'image/png,image/gif,image/jpeg' %> </p>

      <p><%= submit_tag 'submit', class: 'btn btn-primary btn-krusty-taste' %></p>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>