

<% if flash[:notice] %>
  <div class="alert alert-success" id="notice"> <%= flash[:notice] %> </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= form_tag recipes_private_path, { method: "GET", id: "recipes-search" } do %>
        <div class="input-group input-group-sm">
          <%= text_field_tag(:name, params[:name], placeholder: "Search your recipes", size: 50, class: 'form-control') %>
          <span class="input-group-btn">
            <%= button_tag "#", :method=>'get', class: "btn btn-primary btn-krusty-taste", id: "btn-search-recipe" do %>
              Search
            <% end %>
          </span>
        </div>
        <br/>
      <% end %>

      <div class="row">
        <% @recipes.each do |recipe| %>
          <div class="card-deck row-padding">
              <div class="card" style="width: 18rem;">
                <%= link_to("/recipes/#{recipe['id']}") do %>
                  <%= image_tag(recipe['image'], class: "card-img-top") %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= recipe['name'] %></h5>
                  <p class="card-text"><%= recipe['description'] %></p>
                  <div class="row">
                    <%= link_to('Update Recipe', "/recipes/#{recipe['id']}/edit", class: "btn btn-primary btn-sm btn-krusty-taste") %>
                    <%= form_tag("/recipes/#{recipe['id']}", method: :delete ) do %>
                        <%= submit_tag 'Delete Recipe', class: "btn btn-primary btn-sm btn-krusty-taste" %>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <nav>
          <%= will_paginate @paginate %>
        </nav>
      </div>
    </div>
  </div>
</div>