<% if flash[:notice] %>
  <div class="alert alert-success" id="notice"> <%= flash[:notice] %> </div>
<% end %>

<div class="container">
  <div class="row">

    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
              <%= link_to("/recipes/#{recipe['id']}") do %>
                <%= image_tag(recipe['image'], class: "card-img-top") %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to recipe['name'], "/recipes/#{recipe['id']}"%></h5>
                <p class="card-text"><%= recipe['description'] %></p>
              </div>
            </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <nav>
        <%= will_paginate @paginate %>
      </nav>
    </div>
  </div>
</div>