
<div class="row">
  <div class="col-4">
    <%= image_tag(@recipe['image'], size: '400x400', class: 'img-fluid') %>
  </div>
  <div class="col-8">
    <div class="row">
      <strong>Owner: </strong> <%= @recipe['user']['username']%>
    </div>

    <div class="row">
      <strong>Description: </strong> <%= @recipe['description'] %>
    </div>

    <div class="row">
      <strong>Public: </strong> <%= @recipe['public'] %>
    </div>

    <div class="row">
      <h3>Ingredients:</h3>
      <div class="row">
        <ul>
          <% @recipe['ingredients'].each do |ingredient| %>
            <li><%= ingredient['name'] %>: <%= ingredient['measurement'] %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <h3>Preparation Steps:</h3>
      <div class="row">
        <ul>
          <% @recipe['preparation_steps'].each do |preparation_step| %>
            <li><%= preparation_step['step'].to_i %>: <%= preparation_step['description'] %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>