
<% if flash[:notice] %>
  <div class="alert alert-success" id="notice"> <%= flash[:notice] %> </div>
<% end %>

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <%= form_tag('/users/login' ) do %>
      <div class="border card-padding rounded">
        <p><small>Email: </small></p>
        <p><%= text_field_tag('[auth][email]', nil, class: "form-control" ) %></p>

        <p><small>Password: </small></p>
        <p><%= password_field_tag('[auth][password]', nil, class: "form-control" ) %></p>

        <p><%= submit_tag 'Login', class: 'btn btn-primary btn-sm btn-krusty-taste' %></p>
      </div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>