
<% if flash[:notice] %>
  <div class="alert alert-success" id="notice"> <%= flash[:notice] %> </div>
<% end %>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <%= form_tag(users_path, method: :post) do %>
      <div class="border card-padding rounded">
          <p><small>Username: </small></p>
          <p><%= text_field_tag('[user][username]', nil, class: "form-control" ) %></p>

          <p><small>Email: </small></p>
          <p><%= text_field_tag('[user][email]', nil, class: "form-control" ) %></p>

          <p><small>Password: </small></p>
          <p><%= password_field_tag('[user][password]', nil, class: "form-control" ) %></p>
          
          <p><small>Password Confirmation: </small></p>
          <p><%= password_field_tag('[user][password_confirmation]', nil, class: "form-control" ) %></p>

          <p><%= submit_tag 'create', class: 'btn btn-primary btn-sm btn-krusty-taste' %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>