body {
  font-family: 'Lora', serif;
  background-color: #F5F5F5;
}

@media (min-width: 992px) {
  body {
    background-color: #F5F5F5;
  }
}

.font-logo {
  font-family: 'Ewert', cursive;
  font-size: 40px !important;
}

.pagination {
  margin-bottom: 15px;
}

.light-red-background {
  background-color: #BF6E6B !important;
  color: white;
  text-align: center;
}

.card-padding {
  padding: 30px;
}

.btn-krusty-taste {
  background-color: #9B5243 !important;
  border-color: #9B5243 !important; 
}

.row-padding {
  padding: 10px;
}

ul > li {
  list-style-type: none;
}

.nav-menu {
  background: #e2b35d;
}