<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application' %>

    <title>KrustyTaste</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-menu" id="navbarTogglerDemo01">
          <%= link_to(root_path, class: "navbar-brand") do %>
            <%= image_tag('Krusty_Taste_Logo.png', height: '50px', width: '70px', class: "rounded") %>
          <% end %>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

              <% if session['auth_token'] %>
                <li class="nav-item">
                  <%= link_to( 'My recipes', recipes_private_path, class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to( 'New Recipe', new_recipe_path, class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to( 'Logout', users_logoff_path, class: "nav-link") %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to( 'Login', users_access_path, class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to( 'Create Account', new_user_path, class: "nav-link") %>
                </li>
              <% end %>
            </ul>

            <%= form_tag root_path, { method: "GET", id: "recipes-search" } do %>
              <div class="input-group input-group-sm">
                <%= text_field_tag(:name, params[:name], placeholder: "Search recipes", size: 50, class: 'form-control') %>
                <span class="input-group-btn">
                  <%= button_tag "#", :method=>'get', class: "btn btn-primary btn-krusty-taste", id: "btn-search-recipe" do %>
                    Search
                  <% end %>
                </span>
              </div>
              <br/>
            <% end %>
        </div>
      </nav>
    </header>
    <br/>
    <br/>

    <main>
      <%= yield %>
    </main>

    <%= javascript_include_tag "application" %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>

